[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/modules/zsh-syntax-highlighting"]
	path = zsh/modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/modules/zsh-autosuggestions"]
	path = zsh/modules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/modules/zsh-history-substring-search"]
	path = zsh/modules/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/modules/zsh-autopair"]
	path = zsh/modules/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "zsh/modules/filthy"]
	path = zsh/modules/filthy
	url = https://github.com/molovo/filthy.git
